<%- include('includes/header'); %>
    <h1>Update User</h1>
    <form action="/update/<%=product._id%>" method="POST">
            <div>
                <label for="">Item</label>
                <input type="text" name="uname" value="<%=product.uname%>" placeholder="Enter your item">
            </div>
            <div>
              <label for="">Price</label>
              <input type="text" name="psw" value="<%=product.psw%>" placeholder="Enter your item">
          </div>
            <div>
                <input type="submit" value="Submit">
            </div>
    </form>
    <%- include('includes/footer'); -%>
    </body>

    </html>